/src/Industrial-AI-Ops.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Industrial-AI-Ops.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Industrial-AI-Ops.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.idea/.idea.Industrial-AI-Ops/.idea/indexLayout.xml
/src/Industrial-AI-Ops.Api/obj/Debug/net8.0/Industrial-AI-Ops.Api.AssemblyInfo.cs
/src/Industrial-AI-Ops.Api/obj/Debug/net8.0/Industrial-AI-Ops.Api.AssemblyInfoInputs.cache
/src/Industrial-AI-Ops.Api/obj/Debug/net8.0/Industrial-AI-Ops.Api.assets.cache
/src/Industrial-AI-Ops.Api/obj/Industrial-AI-Ops.Api.csproj.nuget.dgspec.json
/src/Industrial-AI-Ops.Api/obj/Industrial-AI-Ops.Api.csproj.nuget.g.props
/src/Industrial-AI-Ops.Api/obj/Industrial-AI-Ops.Api.csproj.nuget.g.targets
/src/Industrial-AI-Ops.Api/obj/Debug/net8.0/Industrial-AI-Ops.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/Industrial-AI-Ops.Api/obj/Debug/net8.0/Industrial-AI-Ops.Api.GlobalUsings.g.cs
/src/Industrial-AI-Ops.Core/obj/Debug/net8.0/Industrial-AI-Ops.Core.AssemblyInfo.cs
/src/Industrial-AI-Ops.Core/obj/Debug/net8.0/Industrial-AI-Ops.Core.AssemblyInfoInputs.cache
/src/Industrial-AI-Ops.Core/obj/Debug/net8.0/Industrial-AI-Ops.Core.assets.cache
/src/Industrial-AI-Ops.Core/obj/Industrial-AI-Ops.Core.csproj.nuget.dgspec.json
/src/Industrial-AI-Ops.Core/obj/Industrial-AI-Ops.Core.csproj.nuget.g.props
/src/Industrial-AI-Ops.Core/obj/Industrial-AI-Ops.Core.csproj.nuget.g.targets
/src/Industrial-AI-Ops.Core/obj/Debug/net8.0/Industrial-AI-Ops.Core.GeneratedMSBuildEditorConfig.editorconfig
/src/Industrial-AI-Ops.Core/obj/Debug/net8.0/Industrial-AI-Ops.Core.GlobalUsings.g.cs
/src/Industrial-AI-Ops.Infrastructure/obj/Debug/net8.0/Industrial-AI-Ops.Infrastructure.AssemblyInfo.cs
/src/Industrial-AI-Ops.Infrastructure/obj/Debug/net8.0/Industrial-AI-Ops.Infrastructure.AssemblyInfoInputs.cache
/src/Industrial-AI-Ops.Infrastructure/obj/Debug/net8.0/Industrial-AI-Ops.Infrastructure.assets.cache
/src/Industrial-AI-Ops.Infrastructure/obj/Industrial-AI-Ops.Infrastructure.csproj.nuget.dgspec.json
/src/Industrial-AI-Ops.Infrastructure/obj/Industrial-AI-Ops.Infrastructure.csproj.nuget.g.props
/src/Industrial-AI-Ops.Infrastructure/obj/Industrial-AI-Ops.Infrastructure.csproj.nuget.g.targets
/src/Industrial-AI-Ops.Infrastructure/obj/Debug/net8.0/Industrial-AI-Ops.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Industrial-AI-Ops.Infrastructure/obj/Debug/net8.0/Industrial-AI-Ops.Infrastructure.GlobalUsings.g.cs
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/Industrial-AI-Ops.ML.AssemblyInfo.cs
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/Industrial-AI-Ops.ML.AssemblyInfoInputs.cache
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/Industrial-AI-Ops.ML.assets.cache
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/Industrial-AI-Ops.ML.csproj.AssemblyReference.cache
/src/Industrial-AI-Ops.ML/obj/Industrial-AI-Ops.ML.csproj.nuget.dgspec.json
/src/Industrial-AI-Ops.ML/obj/Industrial-AI-Ops.ML.csproj.nuget.g.props
/src/Industrial-AI-Ops.ML/obj/Industrial-AI-Ops.ML.csproj.nuget.g.targets
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/Industrial-AI-Ops.ML.GeneratedMSBuildEditorConfig.editorconfig
/src/Industrial-AI-Ops.ML/obj/Debug/net8.0/Industrial-AI-Ops.ML.GlobalUsings.g.cs
/src/Industrial-AI-Ops.Api/obj/project.assets.json
/src/Industrial-AI-Ops.Core/obj/project.assets.json
/src/Industrial-AI-Ops.Infrastructure/obj/project.assets.json
/src/Industrial-AI-Ops.ML/obj/project.assets.json
/src/Industrial-AI-Ops.Api/obj/project.nuget.cache
/src/Industrial-AI-Ops.Core/obj/project.nuget.cache
/src/Industrial-AI-Ops.Infrastructure/obj/project.nuget.cache
/src/Industrial-AI-Ops.ML/obj/project.nuget.cache
/src/Industrial-AI-Ops.Api/obj/project.packagespec.json
/src/Industrial-AI-Ops.Core/obj/project.packagespec.json
/src/Industrial-AI-Ops.Infrastructure/obj/project.packagespec.json
/src/Industrial-AI-Ops.ML/obj/project.packagespec.json
/src/Industrial-AI-Ops.Api/obj/rider.project.model.nuget.info
/src/Industrial-AI-Ops.Core/obj/rider.project.model.nuget.info
/src/Industrial-AI-Ops.Infrastructure/obj/rider.project.model.nuget.info
/src/Industrial-AI-Ops.ML/obj/rider.project.model.nuget.info
/src/Industrial-AI-Ops.Api/obj/rider.project.restore.info
/src/Industrial-AI-Ops.Core/obj/rider.project.restore.info
/src/Industrial-AI-Ops.Infrastructure/obj/rider.project.restore.info
/src/Industrial-AI-Ops.ML/obj/rider.project.restore.info
/.idea/.idea.Industrial-AI-Ops/.idea/vcs.xml
